body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

/* .root {
  min-width: 100vw;
  height: 100vh !important;
} */

.board {
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(0, 255, 0, 0.5);
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.list-wrapper, .add-list-wrapper {
  box-sizing: border-box;
  min-width: 272px;
  height: 100%;
  margin: 0 6px;
  user-select: none;
}

.add-list-content {
  padding: 15px;
}

.add-list-content>form {
  display: none;
}

.list-compose>form {
  display: none;
}

.list-content, .add-list-content {
  border-radius: 10px;
  background-color: burlywood;
  height: fit-content;
  max-height: 100%;
  pointer-events: all;
  display: flex;
  flex-direction: column;
}

.list-header {
  padding: 10px;
  margin-bottom: 5px;
}

.list-composer, .list-placeholder {
  padding: 10px;
  margin: 6px;
  min-height: 1rem;
  width: 15rem;
  box-sizing: inherit;
  border-radius: 10px;
}

.list-cards {
  overflow-y: auto;
  overflow-x: hidden;
}

.list-card {
  box-sizing: border-box;
  width: 272px;
  cursor: grab;
  -webkit-user-drag: none;
  user-select: none;
}

.list-placeholder {
  background-color: antiquewhite;
}

.list-card-dragging {
  z-index: 2;
  rotate: 5deg;
  position: absolute;
  pointer-events: none;
  cursor: grabbing;
}

.list-compose {
  padding: 10px;
}

.card-content {
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  background-color: gray;
}

.viewport {
  position: absolute;
  box-sizing: border-box;
  background-color: transparent;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}